.parent {
    width: 300px;
    height: 500px;
    border: 3px solied red;
} 
.parent:hover {
    cursor: pointer;
}
.parent:hover  .child {
    cursor: pointer;
    opacity: 1;
}
.child {
    width: 50px;
    height: 50px;
    background-color: #232323;
    
}